USE [master]
GO

-- Drop database if exists (optional - comment out if you want to keep existing data)
-- IF EXISTS (SELECT name FROM sys.databases WHERE name = N'MamMoi')
-- BEGIN
--     ALTER DATABASE [MamMoi] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
--     DROP DATABASE [MamMoi];
-- END
-- GO

-- Create database if not exists
-- SQL Server will use default data and log paths automatically
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'MamMoi')
BEGIN
    CREATE DATABASE [MamMoi]
    CONTAINMENT = NONE
    WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
END
GO
-- Enable Full-Text Search if available
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    USE [MamMoi]
    EXEC [dbo].[sp_fulltext_database] @action = 'enable'
    USE [master]
END
GO
USE [MamMoi]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TreeID] [int] NULL,
	[ActivityType] [nvarchar](50) NOT NULL,
	[ActivityDescription] [nvarchar](500) NULL,
	[EntityType] [nvarchar](50) NULL,
	[EntityID] [int] NULL,
	[ActionData] [nvarchar](max) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIConsultations]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIConsultations](
	[ConsultationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TreeID] [int] NULL,
	[PromptInput] [nvarchar](1000) NULL,
	[ContextJson] [nvarchar](max) NULL,
	[Model] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIRecommendations]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIRecommendations](
	[RecommendationID] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationID] [int] NOT NULL,
	[TreeID] [int] NOT NULL,
	[ForDate] [date] NULL,
	[ActionsJson] [nvarchar](max) NULL,
	[WeatherAdjusted] [bit] NOT NULL,
	[Confidence] [decimal](4, 2) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecommendationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CareSchedules]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareSchedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[TreeID] [int] NOT NULL,
	[WeatherID] [int] NULL,
	[TaskType] [nvarchar](50) NULL,
	[TaskName] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[ScheduledDate] [date] NULL,
	[ScheduledTimeOfDay] [nvarchar](20) NULL,
	[EstimatedDurationMinutes] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[CompletedAt] [datetime2](0) NULL,
	[CompletedByUserID] [int] NULL,
	[WaterAmountLiters] [decimal](5, 2) NULL,
	[WaterSource] [nvarchar](50) NULL,
	[ActualWaterAmountLiters] [decimal](5, 2) NULL,
	[FertilizerType] [nvarchar](100) NULL,
	[FertilizerAmountGrams] [int] NULL,
	[ApplicationMethod] [nvarchar](100) NULL,
	[ActualFertilizerAmountGrams] [decimal](6, 2) NULL,
	[PruningType] [nvarchar](50) NULL,
	[PruningNotes] [nvarchar](500) NULL,
	[IsAutoGenerated] [bit] NULL,
	[GenerationReason] [nvarchar](500) NULL,
	[GeneratedByAI] [bit] NULL,
	[AIRecommendationID] [int] NULL,
	[WeatherAdjusted] [bit] NULL,
	[OriginalScheduledDate] [date] NULL,
	[AdjustmentReason] [nvarchar](500) NULL,
	[ForecastRainAmountMm] [decimal](5, 2) NULL,
	[ForecastTemperatureC] [decimal](5, 2) NULL,
	[ForecastHumidityPct] [decimal](5, 2) NULL,
	[Priority] [nvarchar](20) NULL,
	[IsRecurring] [bit] NULL,
	[RecurrencePattern] [nvarchar](100) NULL,
	[ParentScheduleID] [int] NULL,
	[NotificationSent] [bit] NULL,
	[NotificationSentAt] [datetime2](0) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CompletionNotes] [nvarchar](1000) NULL,
	[PhotoUrls] [nvarchar](max) NULL,
	[ResultRating] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiseaseLibrary]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseLibrary](
	[DiseaseID] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseName] [nvarchar](100) NOT NULL,
	[ScientificName] [nvarchar](150) NULL,
	[Category] [nvarchar](50) NULL,
	[Symptoms] [nvarchar](max) NULL,
	[Causes] [nvarchar](max) NULL,
	[AffectedParts] [nvarchar](200) NULL,
	[Severity] [nvarchar](20) NULL,
	[SpreadRate] [nvarchar](20) NULL,
	[Treatment] [nvarchar](max) NULL,
	[Prevention] [nvarchar](max) NULL,
	[OrganicTreatment] [nvarchar](max) NULL,
	[ChemicalTreatment] [nvarchar](max) NULL,
	[RecoveryTime] [nvarchar](100) NULL,
	[IsContagious] [bit] NOT NULL,
	[ImageUrls] [nvarchar](max) NULL,
	[ReferenceLinks] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiseaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DiseaseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GardenMembers]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GardenMembers](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[GardenID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_GardenMembers_Garden_User] UNIQUE NONCLUSTERED 
(
	[GardenID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gardens]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gardens](
	[GardenID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[TimeZone] [nvarchar](100) NULL,
	[ClimateZone] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[coverUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GardenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GardenSoils]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GardenSoils](
	[GardenSoilID] [int] IDENTITY(1,1) NOT NULL,
	[GardenID] [int] NOT NULL,
	[SoilMasterID] [int] NOT NULL,
	[CustomLabel] [nvarchar](100) NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GardenSoilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_GardenSoils_Garden_Soil] UNIQUE NONCLUSTERED 
(
	[GardenID] ASC,
	[SoilMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TreeID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NULL,
	[NotificationType] [nvarchar](50) NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[ActionUrl] [nvarchar](500) NULL,
	[ActionLabel] [nvarchar](100) NULL,
	[ActionData] [nvarchar](max) NULL,
	[RequiresAction] [bit] NOT NULL,
	[ActionDeadline] [datetime2](0) NULL,
	[SentAt] [datetime2](0) NOT NULL,
	[DeliveryMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NULL,
	[ReadAt] [datetime2](0) NULL,
	[DeliveredAt] [datetime2](0) NULL,
	[ReminderTime] [datetime2](0) NULL,
	[IsReminder] [bit] NOT NULL,
	[ReminderSent] [bit] NOT NULL,
	[RelatedEntityType] [nvarchar](50) NULL,
	[RelatedEntityID] [int] NULL,
	[GroupID] [nvarchar](100) NULL,
	[ExpiresAt] [datetime2](0) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IconName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[PaymentDate] [datetime2](0) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentProvider] [nvarchar](50) NULL,
	[TransactionStatus] [nvarchar](50) NULL,
	[TransactionID] [nvarchar](100) NULL,
	[ProviderTransactionID] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
	[InvoiceUrl] [nvarchar](500) NULL,
	[ReceiptUrl] [nvarchar](500) NULL,
	[IsRefunded] [bit] NOT NULL,
	[RefundAmount] [decimal](10, 2) NULL,
	[RefundDate] [datetime2](0) NULL,
	[RefundReason] [nvarchar](500) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[PaymentMetadata] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoilMaster]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoilMaster](
	[SoilMasterID] [int] IDENTITY(1,1) NOT NULL,
	[SoilName] [nvarchar](100) NOT NULL,
	[Texture] [nvarchar](20) NULL,
	[Drainage] [nvarchar](20) NULL,
	[OrganicMatterPct] [decimal](4, 1) NULL,
	[EC_dS_m] [decimal](5, 2) NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoilMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SoilMaster_SoilName] UNIQUE NONCLUSTERED 
(
	[SoilName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlans]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](100) NOT NULL,
	[PlanType] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Features] [nvarchar](max) NULL,
	[MaxGardens] [int] NULL,
	[MaxTreesPerGarden] [int] NULL,
	[DurationInMonths] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PlanName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[SubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PlanName] [nvarchar](100) NOT NULL,
	[PlanType] [nvarchar](50) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TreeID] [int] NULL,
	[RequestDate] [datetime2](0) NOT NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](50) NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Resolution] [nvarchar](max) NULL,
	[ResolvedAt] [datetime2](0) NULL,
	[ClosedAt] [datetime2](0) NULL,
	[SatisfactionRating] [int] NULL,
	[Feedback] [nvarchar](1000) NULL,
	[FeedbackDate] [datetime2](0) NULL,
	[AttachmentUrls] [nvarchar](max) NULL,
	[ResponseCount] [int] NOT NULL,
	[TicketNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NULL,
	[DataType] [nvarchar](20) NULL,
	[Category] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[IsPublic] [bit] NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreeGrowthStages]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeGrowthStages](
	[StageID] [int] IDENTITY(1,1) NOT NULL,
	[TreeTypeID] [int] NOT NULL,
	[StageName] [nvarchar](100) NOT NULL,
	[StageOrder] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[MinAgeInMonths] [int] NULL,
	[MaxAgeInMonths] [int] NULL,
	[WateringFrequencyDays] [int] NULL,
	[WateringAmountLiters] [decimal](5, 2) NULL,
	[FertilizingFrequencyDays] [int] NULL,
	[FertilizerType] [nvarchar](50) NULL,
	[FertilizerAmountGrams] [decimal](6, 2) NULL,
	[PruningFrequencyDays] [int] NULL,
	[CareInstructions] [nvarchar](max) NULL,
	[CommonIssues] [nvarchar](max) NULL,
	[CriticalWeatherFactors] [nvarchar](max) NULL,
	[VulnerabilityLevel] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Icon] [nvarchar](255) NULL,
	[NodeColor] [nvarchar](32) NULL,
	[LineColor] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[StageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreeImages]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[TreeID] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[ImageType] [nvarchar](50) NULL,
	[UploadedAt] [datetime2](0) NULL,
	[CapturedAt] [datetime2](0) NULL,
	[Description] [nvarchar](500) NULL,
	[Tags] [nvarchar](500) NULL,
	[AIAnalysisStatus] [nvarchar](50) NULL,
	[AIAnalysisResult] [nvarchar](max) NULL,
	[ProcessedAt] [datetime2](0) NULL,
	[AnalysisConfidence] [decimal](5, 2) NULL,
	[DetectedIssues] [nvarchar](max) NULL,
	[HealthScore] [decimal](4, 1) NULL,
	[HealthStatus] [nvarchar](50) NULL,
	[DiseaseName] [nvarchar](100) NULL,
	[DiseaseScientificName] [nvarchar](150) NULL,
	[DiseaseSymptoms] [nvarchar](max) NULL,
	[DiseaseSeverity] [nvarchar](50) NULL,
	[DiseaseConfidence] [decimal](5, 2) NULL,
	[AffectedArea] [nvarchar](100) NULL,
	[Treatment] [nvarchar](max) NULL,
	[TreatmentPriority] [nvarchar](20) NULL,
	[DetectedAt] [datetime2](0) NULL,
	[IsTreated] [bit] NULL,
	[TreatmentStartAt] [datetime2](0) NULL,
	[TreatmentEndAt] [datetime2](0) NULL,
	[TreatmentNotes] [nvarchar](1000) NULL,
	[FileSizeBytes] [bigint] NULL,
	[Resolution] [nvarchar](20) NULL,
	[ExifData] [nvarchar](max) NULL,
	[IsPublic] [bit] NULL,
	[ViewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trees]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trees](
	[TreeID] [int] IDENTITY(1,1) NOT NULL,
	[GardenID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[TreeTypeID] [int] NOT NULL,
	[StageID] [int] NOT NULL,
	[TreeCode] [nvarchar](50) NULL,
	[TreeName] [nvarchar](100) NULL,
	[PlantDate] [date] NULL,
	[Location] [nvarchar](255) NULL,
	[GardenSoilID] [int] NULL,
	[IsActive] [bit] NULL,
	[IsFruiting] [bit] NULL,
	[ExpectedHarvestDate] [date] NULL,
	[Notes] [nvarchar](max) NULL,
	[QRCodeUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[LeafStatus] [nvarchar](100) NULL,
	[BranchStatus] [nvarchar](100) NULL,
	[FlowerStatus] [nvarchar](100) NULL,
	[FruitStatus] [nvarchar](100) NULL,
	[preMonths] [int] NULL,
	[LifecycleAutoEnabled] [bit] NOT NULL CONSTRAINT [DF_Trees_LifecycleAutoEnabled]  DEFAULT ((1)),
	[LifecycleAutoDisabledAt] [datetime2](0) NULL,
	[VarietyID] [int] NULL,
	[CycleCount] [int] NOT NULL CONSTRAINT [DF_Trees_CycleCount] DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[TreeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trees_DiseaseLibrary]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trees_DiseaseLibrary](
	[TreeID] [int] NOT NULL,
	[DiseaseID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TreeID] ASC,
	[DiseaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreeTypes]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeTypes](
	[TreeTypeID] [int] IDENTITY(1,1) NOT NULL,
	[SoilMasterID] [int] NOT NULL,
	[TreeTypeName] [nvarchar](100) NOT NULL,
	[ScientificName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Category] [nvarchar](100) NULL,
	[AverageLifespanYears] [int] NULL,
	[OptimalTemperatureMin] [decimal](5, 2) NULL,
	[OptimalTemperatureMax] [decimal](5, 2) NULL,
	[OptimalHumidityMin] [decimal](5, 2) NULL,
	[OptimalHumidityMax] [decimal](5, 2) NULL,
	[DroughtTolerance] [nvarchar](20) NULL,
	[FloodTolerance] [nvarchar](20) NULL,
	[FrostTolerance] [nvarchar](20) NULL,
	[WindTolerance] [nvarchar](20) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CareGuide] [nvarchar](max) NULL,
	[LightRequirement] [nvarchar](500) NULL,
	[WaterRequirement] [nvarchar](500) NULL,
	[Pests] [nvarchar](max) NULL,
	[SeasonalRoadmap] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TreeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreeVariety]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeVariety](
	[VarietyID] [int] IDENTITY(1,1) NOT NULL,
	[TreeTypeID] [int] NULL,
	[VarietyName] [nvarchar](255) NULL,
	[VarietyDescription] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[VarietyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](254) NOT NULL,
	[PasswordHash] [varbinary](512) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[ProfileImageUrl] [nvarchar](255) NULL,
	[ExperienceLevel] [nvarchar](50) NULL,
	[PreferredLanguage] [nvarchar](10) NULL,
	[NotificationPreferences] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherAlerts]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherAlerts](
	[AlertID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TreeID] [int] NOT NULL,
	[AlertType] [nvarchar](50) NULL,
	[Severity] [nvarchar](20) NULL,
	[Title] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[DetailedDescription] [nvarchar](max) NULL,
	[ActionRequired] [nvarchar](max) NULL,
	[ActionPriority] [int] NULL,
	[ActionDeadline] [datetime2](0) NULL,
	[EstimatedDamageLevel] [nvarchar](50) NULL,
	[ImpactLevel] [nvarchar](50) NULL,
	[AffectedTreeCount] [int] NULL,
	[AffectedGrowthStages] [nvarchar](200) NULL,
	[VulnerabilityScore] [decimal](4, 1) NULL,
	[AlertStartAt] [datetime2](0) NULL,
	[AlertEndAt] [datetime2](0) NULL,
	[PeakTime] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ExpiresAt] [datetime2](0) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsAcknowledged] [bit] NULL,
	[AcknowledgedAt] [datetime2](0) NULL,
	[UserAction] [nvarchar](500) NULL,
	[ActionCompletedAt] [datetime2](0) NULL,
	[WeatherAPISource] [nvarchar](100) NULL,
	[ConfidenceLevel] [decimal](4, 2) NULL,
	[RelatedWeatherIDs] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherHistories]    Script Date: 11/20/2025 1:05:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherHistories](
	[WeatherID] [int] IDENTITY(1,1) NOT NULL,
	[TreeID] [int] NOT NULL,
	[IsForecast] [bit] NULL,
	[ForecastDate] [date] NULL,
	[ForecastHorizonDays] [int] NULL,
	[DataSource] [nvarchar](50) NULL,
	[APIRespondedAt] [datetime2](0) NULL,
	[DataQuality] [nvarchar](20) NULL,
	[RawAPIResponse] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[WeatherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Gardens_UserID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Gardens_UserID] ON [dbo].[Gardens]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GardenSoils_GardenID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_GardenSoils_GardenID] ON [dbo].[GardenSoils]
(
	[GardenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserID] ON [dbo].[Notifications]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_UserID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_UserID] ON [dbo].[Payments]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Support_UserID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Support_UserID] ON [dbo].[SupportRequests]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TreeGrowth_TreeTypeID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_TreeGrowth_TreeTypeID] ON [dbo].[TreeGrowthStages]
(
	[TreeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TreeGrowthStages_TreeType_StageOrder]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TreeGrowthStages_TreeType_StageOrder] ON [dbo].[TreeGrowthStages]
(
	[TreeTypeID] ASC,
	[StageOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trees_GardenID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trees_GardenID] ON [dbo].[Trees]
(
	[GardenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trees_StageID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trees_StageID] ON [dbo].[Trees]
(
	[StageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trees_TreeTypeID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trees_TreeTypeID] ON [dbo].[Trees]
(
	[TreeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trees_UserID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Trees_UserID] ON [dbo].[Trees]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TreeTypes_SoilMasterID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_TreeTypes_SoilMasterID] ON [dbo].[TreeTypes]
(
	[SoilMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Weather_TreeID]    Script Date: 11/20/2025 1:05:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Weather_TreeID] ON [dbo].[WeatherHistories]
(
	[TreeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AIConsultations] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AIRecommendations] ADD  DEFAULT ((0)) FOR [WeatherAdjusted]
GO
ALTER TABLE [dbo].[AIRecommendations] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CareSchedules] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DiseaseLibrary] ADD  DEFAULT ((0)) FOR [IsContagious]
GO
ALTER TABLE [dbo].[GardenMembers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Gardens] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Gardens] ADD  DEFAULT (N'Đang hoạt động') FOR [status]
GO
ALTER TABLE [dbo].[Gardens] ADD  DEFAULT (N'') FOR [coverUrl]
GO
ALTER TABLE [dbo].[GardenSoils] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (N'Normal') FOR [Priority]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [RequiresAction]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (N'Sent') FOR [Status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsReminder]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [ReminderSent]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysdatetime()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [IsRefunded]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SoilMaster] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT (N'VND') FOR [Currency]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  DEFAULT (N'VND') FOR [Currency]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (sysdatetime()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (N'Normal') FOR [Priority]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (N'Open') FOR [Status]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ((0)) FOR [ResponseCount]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TreeGrowthStages] ADD  DEFAULT ((5)) FOR [VulnerabilityLevel]
GO
ALTER TABLE [dbo].[Trees] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Trees] ADD  CONSTRAINT [DF_Trees_LeafStatus]  DEFAULT (N'Bình thường') FOR [LeafStatus]
GO
ALTER TABLE [dbo].[Trees] ADD  CONSTRAINT [DF_Trees_BranchStatus]  DEFAULT (N'Bình thường') FOR [BranchStatus]
GO
ALTER TABLE [dbo].[Trees] ADD  CONSTRAINT [DF_Trees_FlowerStatus]  DEFAULT (N'Bình thường') FOR [FlowerStatus]
GO
ALTER TABLE [dbo].[Trees] ADD  CONSTRAINT [DF_Trees_FruitStatus]  DEFAULT (N'Bình thường') FOR [FruitStatus]
GO
ALTER TABLE [dbo].[TreeTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WeatherAlerts] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WeatherAlerts] ADD  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Trees]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Users]
GO
ALTER TABLE [dbo].[AIConsultations]  WITH CHECK ADD  CONSTRAINT [FK_AIConsultations_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[AIConsultations] CHECK CONSTRAINT [FK_AIConsultations_Trees]
GO
ALTER TABLE [dbo].[AIConsultations]  WITH CHECK ADD  CONSTRAINT [FK_AIConsultations_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AIConsultations] CHECK CONSTRAINT [FK_AIConsultations_Users]
GO
ALTER TABLE [dbo].[AIRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AIRecommendations_Consultations] FOREIGN KEY([ConsultationID])
REFERENCES [dbo].[AIConsultations] ([ConsultationID])
GO
ALTER TABLE [dbo].[AIRecommendations] CHECK CONSTRAINT [FK_AIRecommendations_Consultations]
GO
ALTER TABLE [dbo].[AIRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AIRecommendations_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[AIRecommendations] CHECK CONSTRAINT [FK_AIRecommendations_Trees]
GO
ALTER TABLE [dbo].[CareSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CareSchedules_CompletedByUser] FOREIGN KEY([CompletedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CareSchedules] CHECK CONSTRAINT [FK_CareSchedules_CompletedByUser]
GO
ALTER TABLE [dbo].[CareSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CareSchedules_Parent] FOREIGN KEY([ParentScheduleID])
REFERENCES [dbo].[CareSchedules] ([ScheduleID])
GO
ALTER TABLE [dbo].[CareSchedules] CHECK CONSTRAINT [FK_CareSchedules_Parent]
GO
ALTER TABLE [dbo].[CareSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CareSchedules_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[CareSchedules] CHECK CONSTRAINT [FK_CareSchedules_Trees]
GO
ALTER TABLE [dbo].[CareSchedules]  WITH CHECK ADD  CONSTRAINT [FK_CareSchedules_Weather] FOREIGN KEY([WeatherID])
REFERENCES [dbo].[WeatherHistories] ([WeatherID])
GO
ALTER TABLE [dbo].[CareSchedules] CHECK CONSTRAINT [FK_CareSchedules_Weather]
GO
ALTER TABLE [dbo].[GardenMembers]  WITH CHECK ADD  CONSTRAINT [FK_GardenMembers_Gardens] FOREIGN KEY([GardenID])
REFERENCES [dbo].[Gardens] ([GardenID])
GO
ALTER TABLE [dbo].[GardenMembers] CHECK CONSTRAINT [FK_GardenMembers_Gardens]
GO
ALTER TABLE [dbo].[GardenMembers]  WITH CHECK ADD  CONSTRAINT [FK_GardenMembers_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[GardenMembers] CHECK CONSTRAINT [FK_GardenMembers_Roles]
GO
ALTER TABLE [dbo].[GardenMembers]  WITH CHECK ADD  CONSTRAINT [FK_GardenMembers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GardenMembers] CHECK CONSTRAINT [FK_GardenMembers_Users]
GO
ALTER TABLE [dbo].[Gardens]  WITH CHECK ADD  CONSTRAINT [FK_Gardens_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Gardens] CHECK CONSTRAINT [FK_Gardens_Users]
GO
ALTER TABLE [dbo].[GardenSoils]  WITH CHECK ADD  CONSTRAINT [FK_GardenSoils_Gardens] FOREIGN KEY([GardenID])
REFERENCES [dbo].[Gardens] ([GardenID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GardenSoils] CHECK CONSTRAINT [FK_GardenSoils_Gardens]
GO
ALTER TABLE [dbo].[GardenSoils]  WITH CHECK ADD  CONSTRAINT [FK_GardenSoils_SoilMaster] FOREIGN KEY([SoilMasterID])
REFERENCES [dbo].[SoilMaster] ([SoilMasterID])
GO
ALTER TABLE [dbo].[GardenSoils] CHECK CONSTRAINT [FK_GardenSoils_SoilMaster]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Trees]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Subscriptions] FOREIGN KEY([SubscriptionID])
REFERENCES [dbo].[Subscriptions] ([SubscriptionID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Subscriptions]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_Users]
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD  CONSTRAINT [FK_SupportRequests_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[SupportRequests] CHECK CONSTRAINT [FK_SupportRequests_Trees]
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD  CONSTRAINT [FK_SupportRequests_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SupportRequests] CHECK CONSTRAINT [FK_SupportRequests_Users]
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD  CONSTRAINT [FK_SystemSettings_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SystemSettings] CHECK CONSTRAINT [FK_SystemSettings_Users]
GO
ALTER TABLE [dbo].[TreeGrowthStages]  WITH CHECK ADD  CONSTRAINT [FK_TreeGrowthStages_TreeTypes] FOREIGN KEY([TreeTypeID])
REFERENCES [dbo].[TreeTypes] ([TreeTypeID])
GO
ALTER TABLE [dbo].[TreeGrowthStages] CHECK CONSTRAINT [FK_TreeGrowthStages_TreeTypes]
GO
ALTER TABLE [dbo].[TreeImages]  WITH CHECK ADD  CONSTRAINT [FK_TreeImages_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[TreeImages] CHECK CONSTRAINT [FK_TreeImages_Trees]
GO
ALTER TABLE [dbo].[Trees]  WITH CHECK ADD  CONSTRAINT [FK_Trees_Gardens] FOREIGN KEY([GardenID])
REFERENCES [dbo].[Gardens] ([GardenID])
GO
ALTER TABLE [dbo].[Trees] CHECK CONSTRAINT [FK_Trees_Gardens]
GO
ALTER TABLE [dbo].[Trees]  WITH CHECK ADD  CONSTRAINT [FK_Trees_GardenSoils] FOREIGN KEY([GardenSoilID])
REFERENCES [dbo].[GardenSoils] ([GardenSoilID])
GO
ALTER TABLE [dbo].[Trees] CHECK CONSTRAINT [FK_Trees_GardenSoils]
GO
ALTER TABLE [dbo].[Trees]  WITH CHECK ADD  CONSTRAINT [FK_Trees_Stages] FOREIGN KEY([StageID])
REFERENCES [dbo].[TreeGrowthStages] ([StageID])
GO
ALTER TABLE [dbo].[Trees] CHECK CONSTRAINT [FK_Trees_Stages]
GO
ALTER TABLE [dbo].[Trees]  WITH CHECK ADD  CONSTRAINT [FK_Trees_TreeTypes] FOREIGN KEY([TreeTypeID])
REFERENCES [dbo].[TreeTypes] ([TreeTypeID])
GO
ALTER TABLE [dbo].[Trees] CHECK CONSTRAINT [FK_Trees_TreeTypes]
GO
ALTER TABLE [dbo].[Trees]  WITH CHECK ADD  CONSTRAINT [FK_Trees_TreeVariety] FOREIGN KEY([VarietyID])
REFERENCES [dbo].[TreeVariety] ([VarietyID])
GO
ALTER TABLE [dbo].[Trees] CHECK CONSTRAINT [FK_Trees_TreeVariety]
GO
ALTER TABLE [dbo].[Trees]  WITH CHECK ADD  CONSTRAINT [FK_Trees_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Trees] CHECK CONSTRAINT [FK_Trees_Users]
GO
ALTER TABLE [dbo].[Trees_DiseaseLibrary]  WITH CHECK ADD  CONSTRAINT [FK_TreesDiseases_Diseases] FOREIGN KEY([DiseaseID])
REFERENCES [dbo].[DiseaseLibrary] ([DiseaseID])
GO
ALTER TABLE [dbo].[Trees_DiseaseLibrary] CHECK CONSTRAINT [FK_TreesDiseases_Diseases]
GO
ALTER TABLE [dbo].[Trees_DiseaseLibrary]  WITH CHECK ADD  CONSTRAINT [FK_TreesDiseases_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[Trees_DiseaseLibrary] CHECK CONSTRAINT [FK_TreesDiseases_Trees]
GO
ALTER TABLE [dbo].[TreeTypes]  WITH CHECK ADD  CONSTRAINT [FK_TreeTypes_SoilMaster] FOREIGN KEY([SoilMasterID])
REFERENCES [dbo].[SoilMaster] ([SoilMasterID])
GO
ALTER TABLE [dbo].[TreeTypes] CHECK CONSTRAINT [FK_TreeTypes_SoilMaster]
GO
ALTER TABLE [dbo].[TreeVariety]  WITH CHECK ADD FOREIGN KEY([TreeTypeID])
REFERENCES [dbo].[TreeTypes] ([TreeTypeID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[WeatherAlerts]  WITH CHECK ADD  CONSTRAINT [FK_WeatherAlerts_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[WeatherAlerts] CHECK CONSTRAINT [FK_WeatherAlerts_Trees]
GO
ALTER TABLE [dbo].[WeatherAlerts]  WITH CHECK ADD  CONSTRAINT [FK_WeatherAlerts_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[WeatherAlerts] CHECK CONSTRAINT [FK_WeatherAlerts_Users]
GO
ALTER TABLE [dbo].[WeatherHistories]  WITH CHECK ADD  CONSTRAINT [FK_WeatherHistories_Trees] FOREIGN KEY([TreeID])
REFERENCES [dbo].[Trees] ([TreeID])
GO
ALTER TABLE [dbo].[WeatherHistories] CHECK CONSTRAINT [FK_WeatherHistories_Trees]
GO
/****** Object:  Table [dbo].[TreeStatusHistory]     Script Date: 12/03/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeStatusHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[TreeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[StatusField] [nvarchar](50) NOT NULL,
	[OldValue] [nvarchar](100) NULL,
	[NewValue] [nvarchar](100) NULL,
	[ChangedAt] [datetime2](0) NOT NULL DEFAULT (sysdatetime()),
 CONSTRAINT [PK_TreeStatusHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TreeStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_TreeStatusHistory_Trees] FOREIGN KEY([TreeId])
REFERENCES [dbo].[Trees] ([TreeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TreeStatusHistory] CHECK CONSTRAINT [FK_TreeStatusHistory_Trees]
GO
ALTER TABLE [dbo].[TreeStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_TreeStatusHistory_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE NO ACTION
GO
ALTER TABLE [dbo].[TreeStatusHistory] CHECK CONSTRAINT [FK_TreeStatusHistory_Users]
GO

/****** Object:  Index [IX_CareSchedules_TreeID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_CareSchedules_TreeID] ON [dbo].[CareSchedules]
(
	[TreeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CareSchedules_ScheduledDate]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_CareSchedules_ScheduledDate] ON [dbo].[CareSchedules]
(
	[ScheduledDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CareSchedules_Status]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_CareSchedules_Status] ON [dbo].[CareSchedules]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityLogs_UserID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLogs_UserID] ON [dbo].[ActivityLogs]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityLogs_CreatedAt]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLogs_CreatedAt] ON [dbo].[ActivityLogs]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TreeImages_TreeID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_TreeImages_TreeID] ON [dbo].[TreeImages]
(
	[TreeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subscriptions_UserID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_Subscriptions_UserID] ON [dbo].[Subscriptions]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WeatherAlerts_UserID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_WeatherAlerts_UserID] ON [dbo].[WeatherAlerts]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WeatherAlerts_TreeID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_WeatherAlerts_TreeID] ON [dbo].[WeatherAlerts]
(
	[TreeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TreeVariety_TreeTypeID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_TreeVariety_TreeTypeID] ON [dbo].[TreeVariety]
(
	[TreeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TreeStatusHistory_TreeId]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_TreeStatusHistory_TreeId] ON [dbo].[TreeStatusHistory]
(
	[TreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_SubscriptionID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_SubscriptionID] ON [dbo].[Payments]
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GardenMembers_UserID]    Script Date: 12/08/2025 ******/
CREATE NONCLUSTERED INDEX [IX_GardenMembers_UserID] ON [dbo].[GardenMembers]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

USE [master]
GO

PRINT 'Database schema created successfully!'
PRINT 'Added additional indexes for performance optimization.'
GO
